.result-container {
  border: 1px solid #6B7280;
  border-radius: 10px;
}

.container-header {
  font-weight: 600;
  border-bottom: 1px solid #6B7280;
  border-radius: 10px 10px 0 0;
  background-color: #BBF7D0;
}

.subject-list {
  display: grid;
  grid-template-columns: 1fr;
}

.subject-list > 
.subject-container:nth-child(even){
  background-color: #F0FDF4;
}

.subject-list > .subject-container:last-child {
  border-radius: 0 0 10px 10px;
}

.container-header, 
.subject-container {
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
}

.subject-label,
.subject-name {
  width: 31%;
  margin-right: 2%;
}

.units-label,
.subject-units {
  max-width: 15%;
  width: 15%;
  margin-right: 2%;
}

.remove-subj {
  color: red;
  margin-left: auto;
  white-space: nowrap;
  cursor: pointer;
}

.compute-container {
  height: 35px;
  display: flex;
  margin-top: 10px;
}

.output-section {
  display: flex;
  width: 70%;
}

.gwa-label, .total-units-label {
  font-weight: 800;
  margin-left: 1%;
  margin-right: 10px;
}

.computed-gwa {
  margin-right: 10%;
}